:root {
    --orange-color: #F16D7F;
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #e6e6e6;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #222222;
    height: 75px;
}
.header__box {
    width: 85%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__box img,
.header__box svg {
    padding: 10px 20px;
    fill: #E8E8E8;
}

.logo {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
}
.logo__title {
    margin-left: 100px;

    color: #222222;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.logo__title__box {
    display: flex;
    flex-direction: row;
}
.logo__title__box__vertline {
    margin-right: 16px;

    display: inline-block;
    width: 12px;
    height: 92px;
    background-color: var(--orange-color);
}
.logo__title__box__text h1 {
    font-weight: 900;
    font-size: 48px;
}
.logo__title__box__text h2 {
    font-weight: 500;
    font-size: 32px;
}
#fashion_word {
    color: var(--orange-color);
}
/* 
.logo, .catalog, .adv {
    width: 85%;
    height: 30px;
    background-color: aqua;
    margin: 0 auto;
} */



svg:hover {
    fill: white;
    fill: var(--orange-color);
}
