:root {
    --pink-color: #F16D7F;
    --white-color: #FBFBFB;
    --black-color: #222222;
    --blocks-width: 85%;
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #e6e6e6;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--black-color);
    height: 75px;
}
.header__box {
    width: var(--blocks-width);
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__box img {
    /* 8 = 41 - 33*/
    margin-right: 8px;
}
.header__box svg {
    margin-left: 33px;
    fill: #E8E8E8;
}
.header__box svg:hover {
    fill: var(--pink-color);
}

.logo {
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
}
.logo__img {
    background: url('images/logo_man.png') no-repeat;
    background-size: cover;
    height: 764px;
    width: 800px;
}
.logo__title {
    margin-left: 91px;

    color: var(--black-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo__title__text {
    border-left: solid 12px var(--pink-color);
    padding-left: 16px;
}
.logo__title__text h1 {
    font-weight: 900;
    font-size: 48px;
}
.logo__title__text h2 {
    font-weight: 500;
    font-size: 32px;
}
#fashion_word {
    color: var(--pink-color);
}

main {
    background-color: white;
}

.offer {
    width: var(--blocks-width);
    margin: 65px auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.offer h3 {
    text-align: center;

    font-size: 16px;
    color: white;
    line-height: 19px;
    font-weight: 400;
}
.offer h2 {
    text-align: center;

    font-size: 24px;
    color: var(--pink-color);
    line-height: 29px;
    font-weight: 700;
}
.offer__item {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px 0;

    width: 360px;
    height: 260px;

    flex-basis: 32%;
}
.offer__item > div {
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer__item:last-child {
    flex-basis: 100%;
    height: 180px;
}
#offer_1 { background-image: url("images/offer_1.png"); }
#offer_2 { background-image: url("images/offer_2.png"); }
#offer_3 { background-image: url("images/offer_3.png"); }
#offer_4 { background-image: url("images/offer_4.png"); }

.products {
    width: var(--blocks-width);
    margin: 0 auto;
    margin-bottom: 95px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products__title {
    text-align: center;

    margin-bottom: 48px;
}
.products__title h2 {
    font-size: 30px;
    font-weight: 400;
}
.products__title p {
    font-size: 14px;
    color: #9F9F9F;
    line-height: 36px;
}
.products__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products__box__item {
    background-color: #F8F8F8;

    width: 360px;
    margin-bottom: 30px;
}
.products__box__item__text {
    margin-left: 18px;
}
.products__box__item__text__title {
    margin-top: 25px;
    margin-bottom: 12px;

    font-size: 13px;
    color: black;
}
.products__box__item__text__desc {
    font-weight: 300;
    color: #5D5D5D;
    font-size: 14px;

    margin-bottom: 18px;
}
.products__box__item__text__price {
    color: var(--pink-color);
    font-size: 16px;

    margin-bottom: 20px;
}
.products button {
    border: 1px solid #FF6A6A;
    background-color: white;
    color: #F26376;
    margin-top: 18px;

    width: 211px;
    height: 47px;
}
.products button:hover {
    border: 1px solid white;
    background-color: #F26376;
    color: white;
}

.adv {
    background-color: var(--black-color);
    color: var(--white-color);
}
.adv__box {
    width: var(--blocks-width);
    margin: 0 auto;
    padding: 104px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.adv__box__item {
    text-align: center;
}
.adv__box__item h3 {
    font-size: 20px;
    /* 24 + 32 */
    line-height: 56px;
    margin-top: 36px 0;
    font-weight: 400;
}
.adv__box__item p {
    max-width: 360px;

    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.sub {
    background: url("images/sub.png");
    background-size: cover;

    width: 100%;
    height: 448px;
}
#sub_filter_background {
    background: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
}
.sub__box {
    width: var(--blocks-width);
    height: inherit;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub__box__quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub__box__quote img {
    width: 96px;
    height: 96px;
    margin-top: 97px;
}
.sub__box__quote span {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

    margin-top: 30px;

    word-wrap: break-word;
    width: 360px;
    height: 99px;
}
.sub__box__form {
    margin-top: 150px;
    margin-right: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub__box__form__title {
    margin-bottom: 32px;
}
.sub__box__form__title h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
.sub__box__form__title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.sub__box__form__fields {
    display: flex;
    flex-direction: row;
}
.sub__box__form__fields input[type=text] {
    width: 256px;
    height: 49px;

    border-radius: 50px 0 0 50px;
    border: none;
    padding: 0 22px;
    /* padding-left: 22px; */

    background-color: #E1E1E1;
}
.sub__box__form__fields input[type=text]:focus {
    outline: none;
}
.sub__box__form__fields input[type=submit] {
    background-color: var(--pink-color);
    font-size: 14px;
    color: white;

    width: 100px;
    height: 49px;

    border-radius: 0 50px 50px 0;
    border: none;
}

footer {
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;

    height: 79px;
}
.footer__box {
    width: var(--blocks-width);
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__box svg {
    padding: 8px 10px;
    background-color: white;
    fill: black;
}
.footer__box svg:hover {
    background-color: var(--pink-color);
    fill: white;
}


/* mobile */
@media screen and (max-width: 450px) {
    .sub__box {
        display: none;
        /* flex-direction: column; */
    }
}

/* tablet */
@media screen and (min-width: 451px) and (max-width: 1024px) {
    :root {
        --blocks-width: 95%;
    }
    .logo__img {
        height: 368px;
        width: 386px;
    }
    .logo__title {
        /* 67 - 16 */
        /* 16 is padding left for vertical line */
        margin-left: 51px;
    }
    .logo__title__text h1 {
        font-size: 44px;
    }
    .logo__title__text h2 {
        font-weight: 700px;
        font-size: 24px;
    }

    .offer {
        margin-top: 20px;
        margin-bottom: 150px;
    }
    .offer__item {
        width: 232px;
        height: 167px;
    }
    .offer__item:last-child {
        height: 116px;
    }

    .adv__box {
        flex-direction: column;
        padding: 0 0;
        padding-bottom: 48px;
    }
    .adv__box__item {
        margin-top: 48px;
    }

    .sub {
        height: 693px;
    }
    .sub__box {
        flex-direction: column;
        justify-content: space-between;
    }
    .sub__box__quote img {
        margin-top: 64px;
    }
    .sub__box__form {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 140px;
    }
}
