body {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.catalog-block {
    background-color: gray;;
    width: 58%;
}
.cart-block {
    background-color: antiquewhite;
    width: 40%;

    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}

.product {
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .product title { */
/* } */
.product img {
    width: 64px;
    height: 64px;
}
.product .price::before {
    content: "Price: ";
}
.product .price::after {
    content: " ₽";
}
.product .btns_block {
    display: flex;
    flex-direction: row;
}

#catalog .product .count::before {
    content: "Available: ";
}
#cart .product .count::before {
    content: "Count: ";
}

