#catalog {
    background-color: gray;;
}
#cart {
    background-color: antiquewhite;
}


.product {
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
}
/* .product title { */
/* } */
.product img {
    width: 64px;
    height: 64px;
}
.product .price::after {
    content: " ₽";
}
